<!DOCTYPE html>
<!--The root of the Angular JS application-->
<html ng-app="todo">

    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" />

        <link rel="stylesheet" href="/assets/vendor/sweetalert/dist/sweetalert.css" />


        <link href="https://fonts.googleapis.com/css?family=Lora|Nunito|Yellowtail" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Lora|Nunito|Yellowtail" rel="stylesheet">


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>

        <script src="/assets/js/angular-drag-and-drop-lists.min.js"></script>
        <script src="/assets/vendor/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/assets/vendor/angular-sweetalert/SweetAlert.min.js"></script>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="/assets/js/app.js"></script>

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>

        <!--Firebase web setup-->
        <script>
            var config = {
                apiKey: "AIzaSyB6yjreGaK9-UVUw7g-hEALD2fR3cp6CQ8",
                authDomain: "todo-application-2d22b.firebaseapp.com",
                databaseURL: "https://todo-application-2d22b.firebaseio.com",
                storageBucket: "todo-application-2d22b.appspot.com",
                messagingSenderId: "326563238265"
            };
            firebase.initializeApp(config);
        </script>

        <script>
            //observe current user
            firebase.auth().onAuthStateChanged(function(user) {
                if (!user) {
                    window.location.href = "/";
                }
            });
            $(document).ready(function() {

                $('#logout_btn').click(function() {
                    firebase.auth().signOut().then(function() {
                        // signed out
                    }, function(error) {
                        swal("Error", "An error occured signing out. Please try again.", "error");
                    });
                });
            });
        </script>
    </head>
    <!--Define the controller(todo)-->

    <body ng-controller="todoCtrl as toDo">
        {{ toDo.message }}
        <div class="wrapper">
            <header class="main-header">
                <div class="container">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <h1 id="head-text">TO DO</h1>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-warning" id="logout_btn">Logout</button>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </header>
            <section>
                <div id="todo-container" class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container">
                                <div class="row">
                                    <input type="text" class="create-list" id="item" ng-model="toDo.newListName" placeholder="Create a list...">
                                    <button class="create-list-button" ng-click="toDo.addList()" id="add">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="lists">


                        <div ng-repeat="list in toDo.lists" class="col-md-4" class="todo-list">
                            <ul class="todo" id="incomplete" dnd-list="list.cards">
                                <div class="panel panel-primary no-round">
                                    <div class="panel-heading no-round">
                                        <i>{{list.name}} <span class="pull-right"><button ng-click="toDo.deleteList( $index )" class="panel-tools btn btn-danger btn-xs">Delete</button></span></i>
                                    </div>
                                    <div class="panel-body">
                                        <a href="#add-card-{{ list.unique }}" class="btn btn-success btn-long no-round add-card-btn" data-toggle="modal">Add a card</a><br/>
                                        <div class="panel panel-default no-round" ng-repeat="card in list.cards track by $index" dnd-draggable="card" dnd-moved="list.cards.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="list.cards.selected = card" ng-class="{'selected': list.cards.selected === card}">

                                            <div class="panel-heading no-round" ng-click="card.showDetails = card.showDetails === undefined || !card.showDetails ? true : false">
                                                <i>{{card.name}} <span class="pull-right"><button ng-click="toDo.deleteCard( toDo.lists.indexOf(list), $index ) " class="panel-tools btn btn-danger btn-xs">Delete</button></span></i>
                                            </div>
                                            <div class="panel-body" ng-show="card.showDetails " id="show details">
                                                <i style="margin-bottom: 15px">{{card.description}}</i>
                                                <div class="input-group">
                                                    <input type="text" ng-model="toDo.newToDo" class="form-control no-round" placeholder="Add a todo">
                                                    <span class="input-group-btn">
                                                        <button ng-click="toDo.addItem()" class="btn btn-secondary no-round" type="button">Add</button>
                                                    </span>
                                                </div>

                                                <div ng-repeat="item in toDo.newCard.toDoItems">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-model="item.isChecked">
                                                            <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                                            <i class="item-done-{{item.isChecked}}">{{ item.name }}</i>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="add-card-{{ list.unique }}">
                                    <div class="modal-dialog" style="background-color: #fff; width:400px;">
                                        <div class="modal-header">
                                            <h3> Add a card</h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" class="input form-control" ng-model="toDo.newCard.name" placeholder="Name"><br />
                                                    <input type="text" class="input form-control" ng-model="toDo.newCard.description" placeholder="description"><br/>
                                                    <input type="date" class="input form-control" ng-model="toDo.newCard.dueDate" placeholder="Due Date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button ng-click="toDo.addCard($index)" class="btn btn-success pull-right">Save Card</button>
                                        </div>
                                    </div>
                                </div>


                        </div>


                        </ul>

                    </div>
                </div>


        </div>
        </div>
        </section>
        <footer>
        </footer>



        <script src="/assets/js/script.js "></script>
        <script type="text/javascript " src="/assets/js/app.js "></script>
    </body>

</html>