    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    * {
        font-family: 'Roboto', sans-serif;
    }
    
    body {
        background-image: url(/assets/images/jahhquixlig-rebecca-lj.jpg);
        background-size: cover;
    }
    
    #header {
        float: left;
        color: #E94F37;
        font-size: 22px;
        padding-left: 70px;
        padding-top: 20px;
    }
    
    #header>h2 {
        font-family: 'Yellowtail', cursive;
        letter-spacing: 3px;
        word-spacing: 2px;
    }
    
    #login {
        padding-right: 70px;
        padding-top: 20px;
        float: right;
    }
    
    .email {
        border: 1px solid #393E41;
        width: 200px;
    }
    
    .pass {
        border: 1px solid #393E41;
        width: 200px;
    }
    
    .clear {
        clear: both;
    }
    
    .no-round {
        border-radius: 0px !important;
    }
    
    input {
        border-radius: 5px;
        height: 40px;
        background: rgba(255, 255, 255, 0.0980392);
        color: #393E41;
        border: 1px solid #393E41;
        font-family: 'Lora', serif;
    }
    
    .signup {
        border: 1px solid #fff;
        border-radius: 10px;
        background: #fff;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }
    
    ul {
        margin: auto;
        width: 70%;
    }
    
    li {
        width: 80%;
        margin: auto;
        padding-bottom: 10px;
        list-style: none;
    }
    
    li>input {
        width: 100%;
    }
    
    h3 {
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
        margin: 20px 0;
        color: #E94F37;
        font-family: 'Yellowtail', cursive;
        word-spacing: 3px;
    }
    
    .social-signup {
        margin: 20px auto;
        text-align: center;
    }
    
    .firebaseui-idp-list {
        margin: 0 auto !important;
    }
    
    .firebaseui-list-item {
        width: 100%;
    }
    
    .gmail {
        text-align: center;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        padding: 10px;
        background: #ea4335;
        color: white;
        cursor: pointer;
        border: none;
    }
    
    .gmail>i {
        vertical-align: middle;
    }
    
    .fbook {
        margin-left: 10px;
        background: #3b5998;
        color: white;
    }
    
     ::-webkit-input-placeholder {
        color: black;
        font-size: 14px;
        padding-left: 10px;
    }
    
    button {
        height: 30px;
        border-radius: 5px;
    }
    
    .auth {
        width: 70px;
        background: #44BBA4;
        color: white;
        height: 40px;
        border: 0px;
        cursor: pointer;
    }
    
    .auth:hover {
        background-color: #44ddA4;
    }
    
    input:hover,
    input:focus {
        border-color: #3F88C5;
    }
    
    input:focus::-webkit-input-placeholder,
    input:hover::-webkit-input-placeholder {
        color: #3F88C5;
    }