* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
imput,
button {
    font-family: 'Roboto', sans-serif;
}

.main-header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background: #094C72;
    box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #fff;
}

#todo-container {
    margin: 100px;
    width: 100%;
    padding: 15px;
}

.pull-right {
    margin-top: 20px;
    float: right;
    margin-left: 70px;
}

#logout {
    background: lightskyblue;
    border: 1px solid #298FCA;
}

.clear {
    clear: both;
}

body {
    background: linear-gradient(#298FCA, #0079BF, #026AA7);
}


/*input[type="text"] {
    width: 30px;
    height: 30px;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}*/

.create-list {
    height: 40px;
    width: 200px;
    background: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 400px;
    text-indent: 20px;
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0..75);
}

input::-moz-placeholder {
    color: rgba(255, 255, 255, 0..75);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0..75);
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0..75);
}

.create-list-button {
    width: 70px;
    height: 40px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    background: ;
    border-shadow: none;
    margin-left: 10px;
}

ul.todo {
    width: 100%;
}

#lists {
    padding-top: 50px;
}

ul.todo li {
    width: 100%;
    /*height: 50px;*/
    background: #fff;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    position: relative;
    padding: 0 100px 0 0;
    list-style: none;
    font-size: 14px;
}

ul.todo li:last-child {
    margin: 0px;
}

ul.todo li .buttons {
    /*width: 50px;*/
    /*height: 50px;*/
    position: absolute;
    right: 0px;
    border: 5px;
    background: none;
}

#completed {
    margin-top: 30px;
}

input[type='checkbox'] {
    width: ;
    height: 30px;
}

.listname {
    width: 100%;
    /*height: 50px;*/
    background: lightskyblue;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
    position: relative;
    padding: 0 100px 0 0;
}

ul.todo .list-buttons {
    right: 0px;
    top: 0px;
    width: 100px;
    height: 50px;
    position: absolute;
    border: 5px;
    background: none;
}

.list {
    border: solid 3px lightskyblue;
}

ul.todo .list-buttons button {
    /*width: 50px;*/
    /*height: 50px;*/
    border: 5px;
    background: none;
}

.completed {
    background: rgba(168, 168, 168, 1);
}

#addcard {
    width: 100%;
    border-radius: 5px;
    background-color: green;
    border: 0px;
}

.item-done-true {
    text-decoration: line-through;
}